.animales{
  width: 400px;
  height: 300px;
  margin: 0;
}

.blanco-negro{
  filter: grayscale(100%);
  -webkit-filter:grayscale(100%);

}

.invertir-colores{
  -webkit-filter:invert(.8);
  filter: invert(.8);
}

.sepia{
  -webkit-filter:sepia(1);
  filter: sepia(1);
}

body{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background: #a0e29a;
}

.select{
  margin: 8px;
  font-family: 'Raleway', sans-serif;
}
